*.jou
*.log
*.runs/
*.sim/
*.gen/
*.ip_user_files/
*.bin
*.jou
*.log
*.pb
*.str
*.backup
.Xil/
.srcs/
*.cache
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
*.bit
*.bin
*.mcs
*.prm
*.ltx
*.zip
!*.v
!*.sv
!*.vhd
!*.vhdl
!*.xdc
!*.tcl
!*.xpr
